.container{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    color: white;
    border: none;
    border-radius: 5px;
    width: max-content;
    transition: all 1s ;
}

.container:hover{
    width: 100%;
    font-size: 22px;
}