.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color: #bbb;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.button{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.button:hover {
    background-color: #49b07d;
  }
  
.google {
  background-color: rgba(228, 97, 50, 0.72);
}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
}